
Agree.xcodeproj/project.xcworkspace/xcuserdata/G4ddle.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Pods/Pods.xcodeproj/xcuserdata/G4ddle.xcuserdatad/xcschemes/xcschememanagement.plist

*.plist
